<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherWebServiceSoap"
                contract="Weather.WeatherWebServiceSoap" name="WeatherWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>